.DS_Store
.eslintcache
*.log
**/node_modules
coverage
packages/**/build
packages/**/main
packages/**/module
packages/**/dist/
packages/**/lib/
packages/**/types/
packages/**/tsconfig.*
packages/react/src/
packages/vue/src/
storybook-static/
packages/webcomponents/custom-elements.json
packages/svelte/.svelte-kit
packages/qwik/tsconfig.tsbuildinfo
**/stats.html
.idea
/.yarnrc
/.npmrc
