.DS_Store
.eslintcache
*.log
**/node_modules
coverage
packages/**/build
packages/**/main
packages/**/module
packages/**/dist/
packages/**/lib/
packages/**/types/
storybook-static/
packages/react/src
packages/vue/src
**/stats.html
.idea
/.yarnrc
/.npmrc
.parcel-cache
parcel-bundle-reports
/**/dist
